.create-container {
    padding-top: 4vh;
    display: flex;
    height: 90vh;
}

.create-inputs {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 30vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.create-space {
    width: 10vw;
}

.create-preview {
    width: 55vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.create-button {
    border-radius: 10px;
    padding: 15px;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    background-color: rgb(229, 33, 246);
    transition: 0.2s;
}

.create-button:hover {
    background-color: rgb(0, 255, 242);
    transform: scale(1.1);
}

.inputs {
    margin-left: 20px;
}

.instruction {
    color: aliceblue;
}

.cancel {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(229, 33, 246);
    cursor: pointer;
    transition: 0.2s;

}

.save {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 255, 242);
    cursor: pointer;
    transition: 0.2s;
}

.save:hover {
    scale: 1.1;
    background-color: rgb(0, 255, 64);
}

.cancel:hover {
    scale: 1.1;
    background-color: red;
}

.input {
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}

.note {
    color: aliceblue;
    margin-right: 10px;
    padding-right: 10px;
}

.select {
    padding: 5px;
    border-radius: 8px;
}

.back {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 255, 242);
    cursor: pointer;
    transition: 0.2s;
}

.next {
    position: absolute;
    bottom: 2vh;
    left: 6.5vw;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 255, 242);
    cursor: pointer;
    transition: 0.2s;
    margin-left: 15px;
}

.back:hover {
    scale: 1.1;
}

.next:hover {
    scale: 1.1;
}

#save {
    background-color: #1eff00;
}

.preview-all-list-container {
    overflow-x: auto;
    width: 51vw;
    display: flex;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
    background: linear-gradient(13deg, rgba(229, 33, 246, 0.6) 18%, rgba(0, 168, 255, 0.6) 61%, rgba(0, 255, 239, 0.6) 100%);
    border-radius: 10px;
    margin-left: 2vw;
    height: 75%;
    position: absolute;
    bottom: 7vh;
}

.preview-list-container {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
    width: 13.5vw;
    background-color: rgba(0, 0, 0, 0.418);
    flex: 0 0 auto;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    height: 98%;
}

.preview-list-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .preview-cards-container {
    display: flex;
    flex-direction: column;
  }

  .preview-card {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color:rgb(53, 53, 53);
    color: aliceblue;
  }

  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }