.list-container {
    display:inline-flex;
    flex-direction: column;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
    width: 18vw;
    background-color: rgb(180, 180, 180);
    flex: 0 0 auto;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    }

  .list-container h4{
    position: relative;
    align-self: center;
    width: 100px;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color:azure;
  }

  .all-list-container {
    overflow-x: auto;
    width: 80vw;
    display: flex;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(0, 17, 255);
  }

  .div-container {
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: auto;
  }

.list-head{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-button{
  height: 5vh;
  margin: 10px;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}
